*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

form{
    text-align: center;
}

h1,h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: rgb(110, 79, 252);
}

a{
    font-size: 1.2rem;
    color: #f40000;
    font-weight: bolder;
    text-decoration: none;
}

i{
    text-align: center;
    display: block;
    width: 100%;
    margin: 10px auto;
    font-size: 1.3rem;
}

ul{
    display: block;
    list-style: none;
    text-align: center;
}

header{
    background:#c2e7df;
    text-align: center;
    display: flex;
    align-items: center;
}

nav{
    margin:0;
    flex: 1 0 150px;
}

.logo{
    margin:0;
    flex: 0 0 100px;
}

.logo img{
    width: 100%;
    height: auto;
}

nav ul li{
    display: inline-block;
    width: 20%;
    background: rgb(107, 253, 253);
    height: 2rem;
    line-height: 2rem;

}


section.mine{
    display: flex;
}

aside{
    flex: 0 0 250px;
    padding: 5px;
    text-align: center;
}

section.content{
    flex: 1 0 720px;
    padding: 5px;
    text-align: justify;
}

footer{
    background: rgb(7, 232, 240);
}

.footerContent{
    display: flex;
}

#contact{
    flex: 0 0 50%;
}

footer ul{
    display: block;
    flex: 0 0 50%;
}

article img{
    display: block;
    width: 150px;
    height: auto;
    margin: 5px;
}

article#silnia img{
    float: left;
}

article#superSum img{
    float: right;
}

